<!--
  Generated template for the SinchAudioCallPage page.
-->
<ion-content padding>

  <div class="heading" padding>
    <h2 center>Incoming call</h2>
    <h1 center>Name</h1>
  </div>

   <div class="call-button">
    <ion-row>
      <ion-fab class="fab" *ngIf="showAnswer" (click)='AnswerCall(true)'>
        <button ion-fab><ion-icon ios="ios-call" md="md-call"></ion-icon></button>
      </ion-fab>

      <ion-fab class="fab" color="danger" *ngIf="showHangup" (click)='HangUp()'>
        <button ion-fab><ion-icon ios="ios-close" md="md-close"></ion-icon></button>
      </ion-fab>
    </ion-row>
  </div>

</ion-content>
