<ion-header>
    <ion-navbar color="navBar">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Messages</ion-title>
        <ion-buttons end>
          <button ion-button (click)="makeAudioCall()">
            <ion-icon ios="ios-call" md="md-call"></ion-icon>
          </button>
        </ion-buttons>
        <!--<ion-buttons end>
          <button ion-button (click)="makeVideoCall()">
            <ion-icon ios="ios-videocam" md="md-videocam"></ion-icon>
          </button>
        </ion-buttons>-->
        <ion-buttons end *ngIf="favoriteFlag != true">
          <button ion-button (click)="addToFavorite()">
          <ion-icon name="star"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="messages">
  <ion-list no-padding *ngIf="user" (swipe)="swipeEvent($event)">
    <div *ngFor="let message of chatMessages; let i = index">
      <fieldset *ngIf="i == 0 || (i > 0) && message.day != chatMessages[i-1].day">
        <legend align="center" *ngIf="isToday(message.timestamp)">
            today
        </legend>
        <legend align="center" *ngIf="!isToday(message.timestamp)">
            {{message.timestamp | date: "MMMM d"}}
        </legend>
      </fieldset>
      <ion-item no-lines>
        <ion-label>
          <p *ngIf="message.from == user.uid">
            <span *ngIf="message.message.substring(0, 4) != 'http' && message.message.substring(0,10) != '{latitude:'" 
            class="message-text right">{{message.message}}</span>
            <img class="message-img right" width="200" height="200" *ngIf="message.message.substring(0, 4) == 'http'" 
            src="{{message.message}}">
            <span class="message-time">{{message.timestamp | date:"hh:mm a"}}</span>
            <span *ngIf="message.message.substring(0,10) == '{latitude:'" 
            class="message-text right">{{message.message}}</span>
          </p>
          <p *ngIf="message.from != user.uid">
            <ion-avatar>
              <img class="user-image" [src]="(message.user | async)?.photoURL" />
            </ion-avatar>
            <span *ngIf="message.message.substring(0, 4) != 'http' && message.message.substring(0,10) != '{latitude:'" 
            class="message-text left">{{message.message}}</span>
            <img class="message-img left" width="200" height="200" *ngIf="message.message.substring(0, 4) == 'http'" 
            src="{{message.message}}">
            <span class="message-time">{{message.timestamp | date:"hh:mm a"}}</span>
            <span *ngIf="message.message.substring(0,10) == '{latitude:'" 
            class="message-text left">{{message.message}}</span>
          </p>
        </ion-label>
        {{message.message}}
        <h1 *ngIf="message.message.substring(0,10) == '{latitude:'">MAP</h1>
        <div #mapcanvas class="mapcanvas" id="mapcanvas" *ngIf="message.message.substring(0,10) == '{latitude:'"></div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-navbar color="navBar">
    <ion-row>
      <ion-col col-1 no-padding>
          <button ion-button clear icon-only item-right (click)="presentActionSheet()" color="white">
              <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
          </button>
          <!--<button ion-button clear icon-only item-right (click)="switchEmojiPicker()" color="white">
              <ion-icon name="md-happy"></ion-icon>
          </button>-->
      </ion-col>
      <ion-col col-9 no-padding>
        <ion-textarea #chat_input 
          type="text" 
          [(ngModel)]="chatText" 
          (keydown.enter)="sendMessage($event);false" 
          rows="1" 
          [maxlength]="500" 
          [placeholder]="'Type a message here'"
          (focus)="onFocus()"
          class="message-input" auto-size autocapitalize="off" block></ion-textarea>
      </ion-col>
      <ion-col no-padding>
        <button ion-button (click)="sendMessage($event)" [disabled]="!chatText || (chatText && chatText.length > textMaxLength)" 
          color="white" class="button-send" small clear icon-only>
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="chatText"></emoji-picker>
</ion-footer>
